	body {
		margin: 0;
		padding: 0;
	}
    :root {
		--web-view-ids: Web_1366___1;
	}
	#Web_1366___1 * {
		margin: 0;
		padding: 0;
	}
	#Web_1366___1 {
		position: absolute;
		box-sizing: border-box;
		background: #E5E5E5;
		width: 1366px;
		height: 4327px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		--web-view-name: Web 1366 – 1;
		--web-view-id: Web_1366___1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#WhatWeDo_02 {
		fill: url(#WhatWeDo_02_A0_Rectangle_2_pattern);
	}
	.WhatWeDo_02 {
		position: absolute;
		overflow: visible;
		width: 1013.269px;
		height: 687.269px;
		left: 176.442px;
		top: 651.696px;
	}
	#Rectangle_2 {
		fill: rgba(177,217,183,1);
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 199.208px;
		height: 303.081px;
		left: 0px;
		top: 1035.883px;
	}
	#Rectangle_3 {
		fill: rgba(240,160,195,1);
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 184.979px;
		height: 303.081px;
		left: 1181.021px;
		top: 1035.883px;
	}
	#Gill {
		fill: url(#Gill_A0_Rectangle_6_pattern);
	}
	.Gill {
		position: absolute;
		overflow: visible;
		width: 920.711px;
		height: 711.458px;
		left: 221.975px;
		top: 1338.965px;
	}
	#Rectangle_4 {
		fill: rgba(180,182,185,1);
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 283.16px;
		height: 711.458px;
		left: 1082.84px;
		top: 1338.965px;
	}
	#Rectangle_5 {
		fill: rgba(180,182,185,1);
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 283.16px;
		height: 711.458px;
		left: 0px;
		top: 1338.965px;
	}
	#Rectangle_1 {
		fill: rgba(255,255,255,1);
		stroke: rgb(112, 112, 112);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 1354.296px;
		height: 118.501px;
		left: 0px;
		top: 0px;
	}
	#Group_1 {
		position: absolute;
		width: 1297.439px;
		height: 87.4px;
		left: 26.848px;
		top: 15.191px;
		overflow: visible;
	}
	#Gill_Instruments_Logo_02_A0_Re {
		fill: url(#Gill_Instruments_Logo_02_A0_Re_A0_Rectangle_11_pattern);
	}
	.Gill_Instruments_Logo_02_A0_Re {
		position: absolute;
		overflow: visible;
		width: 163.192px;
		height: 87.4px;
		left: 0px;
		top: 0px;
	}
	#Group_1_A0_Group_2 {
		position: absolute;
		width: 660.825px;
		height: 18px;
		left: 636.615px;
		top: 34.421px;
		overflow: visible;
	}
	#Products {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 64px;
		white-space: nowrap;
		text-align: left;
		font-family: Akkurat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Support {
		position: absolute;
		left: 151.506px;
		top: 0px;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Akkurat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Partners {
		position: absolute;
		left: 289.075px;
		top: 0px;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: left;
		font-family: Akkurat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#About_Us {
		position: absolute;
		left: 440.73px;
		top: 0px;
		overflow: visible;
		width: 64px;
		white-space: nowrap;
		text-align: left;
		font-family: Akkurat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Contact_Us {
		position: absolute;
		left: 584.825px;
		top: 0px;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: left;
		font-family: Akkurat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Slider_1_01 {
		fill: url(#Slider_1_01_A0_Rectangle_13_pattern);
	}
	.Slider_1_01 {
		position: absolute;
		overflow: visible;
		width: 1366px;
		height: 533.693px;
		left: 0px;
		top: 118.102px;
	}
	#Group_2 {
		position: absolute;
		width: 1114.823px;
		height: 704.361px;
		left: 125.217px;
		top: 2067.825px;
		overflow: visible;
	}
	#Gill_Sense_03 {
		fill: url(#Gill_Sense_03_A0_Rectangle_15_pattern);
	}
	.Gill_Sense_03 {
		position: absolute;
		overflow: visible;
		width: 1046.161px;
		height: 492.424px;
		left: 0px;
		top: 158.07px;
	}
	#Gill_Sense_04 {
		fill: url(#Gill_Sense_04_A0_Rectangle_17_pattern);
	}
	.Gill_Sense_04 {
		position: absolute;
		overflow: visible;
		width: 132.411px;
		height: 158.739px;
		left: 449.313px;
		top: 0px;
	}
	#image {
		fill: url(#image_A0_Rectangle_19_pattern);
	}
	.image {
		position: absolute;
		overflow: visible;
		width: 227.437px;
		height: 88.017px;
		left: 887.386px;
		top: 616.344px;
	}
</style>